@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600&family=Roboto+Condensed:wght@500&family=Roboto+Mono&family=Silkscreen&display=swap');


body {
  background-color: #242424;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}
.container{
  max-width: 1536px;
  margin: 0 auto;
}